<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>The Imp's Bazaar</title>
    <link rel="stylesheet" type="text/css" href="/materialize/dist/css/materialize.css" />
    <link rel="stylesheet" type="text/css" href="/owlcar/owl-carousel/owl.carousel.css" />

    <link rel="stylesheet" type="text/css" href="/style.css" />
<!--     <link rel="stylesheet" type="text/css" href="/{{store.user}}.css" /> -->
    <script src="/lodash/lodash.js"></script>
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/materialize/dist/js/materialize.js"></script>
    <script src="owlcar/owl-carousel/owl.carousel.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/main.js"></script>


</head>
<body ng-app="FullstackGeneratedApp">
    <div class="hack-spacer"></div>

    <navbar id="custom-hide"></navbar>
    <div ui-view></div>

</body>
</html>