<section id="admin">
	<div class="main-container">
		<div class="left-col">
			<div id="bar" ng-repeat="user in users">
				<h4>First Name: {{user.firstName}}</h4>
				<h4>Last Name: {{user.lastName}} </h4> 
				<h4>Email: {{user.email}}</h4> 
				<h4>Store: {{user.store}}</h4> 
				<h4>Password: {{user.password}}</h4> 
				<h4>Type: {{user._type || 'User'}}</h4> 
				<button ng-click="deleteUser(user)">Delete User</button>
				<button ng-click="promoteUser(user)">Promote User</button> 
			</div>
		</div>
		<div>
			<h1 class="content-col">Admin Page</h1>
			<h3>Add Categories: </h3>
			<form ng-submit='categoryName.length > 0 && addCategory(categoryName)'>
			<input type='text' ng-model='categoryName'>
			<button class='btn btn-primary'>Create a Category</button>
		</form>
		</div>
	</div>
</section>