<section id="admin">
	<div class="main-container">
		<div class="left-col">
			<div>
				<h3 class="content-col">Admin Page</h3>
				<div class="row">
					<div class="col m6 lg4 s12">
						<h4>Add Categories: </h4>
						<form ng-submit='categoryName.length > 0 && addCategory(categoryName)'>
							<input type='text' ng-model='categoryName'>
							<button class='btn btn-primary'>Create a Category</button>
						</form>
						
					</div>
				</div>

			</div>
			<table>
				<tr class="heading">
					<td>first name</td>
					<td>last name</td>
					<td>email </td>
					<td>permission</td>
					<td>actions</td>

				</tr>
				<tr ng-repeat="user in users">
					<td>{{user.firstName}}</td>
					<td>{{user.lastName}}</td>
					<td>{{user.email}}</td>
					<td>{{user._type || 'User'}}</td>
					<td> 
						<button class="mdi-action-delete waves-effect waves-light btn" ng-click="deleteUser(user)" > Remove </button>
						<button class="mdi-navigation-expand-less waves-effect waves-light btn" ng-click="promoteUser(user)" >Promote </button>
					</td>


				</tr>
			</table>
		</div>

	</div>
</section>