<nav class="navbar navbar-static-top">
    <div class="container justify-around">
        <h1>The Imp's Bazaar</h1>
        <img src="tyrion-lannister.png"></img>
        <div class="nav navbar-nav justify-around">
            <button ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()" ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}
            </button>
            <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>
            <button ng-show="!user" ui-sref="register" class="btn register-button">Register</button>
        </div>
        <input placeholder="Search for items or shops" ></input>
        
        <div ng-show="user" class="welcome">
            <span>Welcome, {{ user.email }}!</span>
            <a ng-click="logout()">Logout</a>
        </div>
    </div>
</nav>