<div class="navbar-fixed">
    <nav ng-controller="NavController" style="background: #600911">
        <div class="nav-wrapper ">
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

            <!--<img src="images/tyrion-lannister.png"></img>-->

                <ul id="nav-mobile" class="hide-on-med-and-down">
                    <li ng-click="select('home')" ng-class="{activepage: selected === 'home'}" ui-sref="home">The Imp's Bazaar</li>
                    <li ng-click="select('stores')" ng-class="{activepage: selected === 'stores'}" ui-sref="stores">Stores</li>
                    <li ng-click="select('products')" ng-class="{activepage: selected === 'products'}" ui-sref="productsList">Products</li>
                    <li ng-click="select('profile')" ng-class="{activepage: selected === 'profile'}" ng-show="isLoggedIn()" ui-sref="profile">Profile</li>

                </ul>

                <!--mobile hamburger bar-->
                <ul class="side-nav" id="mobile-demo">
                    <li ng-show="user">Welcome, {{ user.email }}!</li>
                    <li ui-sref="home">The Imp's Bazaar</li>
                    <li ui-sref="stores">Stores</li>
                    <li ui-sref="productsList">Products</li>
                    <li ng-show="isLoggedIn()" ui-sref="profile">Profile</li>
                    <li ui-sref="cart">Cart</li>
                    <li ng-show="!user" ui-sref="login" ui-sref-active="active">Log In/Sign Up</li>
                    <li ng-show="user._type === 'Admin'" ng-click="linkToAdmin()">Admin</li>
                    <li ng-show="user" ng-click="logout()">Logout</li>
                </ul>

            <!--login/logout/search buttons-->
                <ul class="right hide-on-med-and-down">
                    <li ng-click="select('cart')" ng-class="{activepage: selected === 'cart'}" ui-sref="cart">Cart</li>
                    <li ng-click="select('login')" ng-class="{activepage: selected === 'login'}" ng-show="!user" ui-sref="login">Log In/Sign Up</li>
                    <li ng-show="user._type === 'Admin'" ng-click="linkToAdmin()">Admin</li>
                    <li ng-show="user">Welcome, {{ user.email }}!</li>
                    <li ng-show="user" ng-click="logout()">Logout</li>
                </ul>

            <!--<div class="stacked">-->
                <!--&lt;!&ndash;<input placeholder="Search for items or shops" ></input>&ndash;&gt;-->

        </div>
    </nav>
</div>

<script>

    $( document ).ready(function(){
        setTimeout( function() {
            $(".button-collapse").sideNav();
        }, 0)

    });

</script>