.welcome {
  margin-top: 12px;
  span {
    color: white;
  }
  a {
    color: white;
    cursor: pointer;
  }
}

nav ul li {
  padding: 7px;
  margin-left: 10px;
  margin-top: -5px;
}

.activepage {
  text-decoration: underline;
}
