page-title{
	text-align: center
}
#bar:hover{
	background-color:rgba(255,255,255,0.1);
	-moz-box-shadow:inset 1px 0px 18px #ffffff;
	-webkit-box-shadow:inset 1px 0px 18px #ffffff;
	box-shadow:inset 1px 0px 18px #ffffff;
}
.main-container * {
	
}
.main-container{
	text-shadow:0px 0px 14px #600911, 
		1px 1px 14px #600911, 
		3px 3px 14px #600911, 
		-3px -3px 14px #600911;
		color: white;

	justify-content: space-around;
	display: flex;
	display: -webkit-flex;
	-webkit-justify-content: space-around;
	a{
		color: white;
	}
	a:hover{
		color: rgb(200,200,200);
	}
	div.one-third {
		width: 33%;
		display: block;
	}
	img{
		width: 200px;
		height:150px;
		-webkit-transition:width 2s, height 2s, -webkit-transform 1s;
		transition:width 2s, height 2s, transform 1s;	
		}
	img.store-img:hover{
		width: 400px;
		height:300px;
		-webkit-transform:rotate(0deg); left:300px;
    	transform:rotate(0deg); left:300px;
		-moz-box-shadow: 1px 0px 18px #ffffff;
		-webkit-box-shadow: 1px 0px 18px #ffffff;
		box-shadow: 1px 0px 18px #ffffff;
	}	
	div#content-col{
		justify-content: center;
		display: flex;
		display: -webkit-flex;
		-webkit-justify-content: center;
		.cart{
			margin-left: 10px;
		}
	}

	div#content-col * {
		float: none;
		display: block;
		background: transparent;
		margin: 7px 0;
		text-shadow:0px 0px 14px #000000;
	}
	error{
		color: red;
	}

	div img.store-img{
		width: 200px;
		height:150px;
		-webkit-transition:width 2s, height 2s, -webkit-transform 1s;
    	transition:width 2s, height 2s, transform 1s;
	}
	div img.store-img:hover{
		width: 400px;
		height:300px;
		-webkit-transform:rotate(0deg); left:300px;
    	transform:rotate(0deg); left:300px;
		-moz-box-shadow: 1px 0px 18px #ffffff;
		-webkit-box-shadow: 1px 0px 18px #ffffff;
		box-shadow: 1px 0px 18px #ffffff;
	}

}
