<section id="profile">
    <page-title>
        <h1>Profile page</h1>
    </page-title>
    <div class="main-container">
        <div class="one-third">
            
            <h3>Welcome, {{user.firstName}} {{user.lastName}}</h3>
            <h3>Email: {{user.email}}</h3>

            <h3>Store Name: <a href="stores/{{store._id}}">{{store.name}}</a></h3>
            
            

        </div>   
        <div>
            <h3>Store Logo:</h3>
            <a href="stores/{{store._id}}">
                <img class="store-img" src="{{store.logo}}" />
            </a>
        </div> 
        <div class="one-third" id="content-col">
            <div class="one-third">
                <button class="btn waves-effect waves-light wave" ng-show="user.store" ng-click="edit='on'">Manage Store Info</button>
                <button ng-show='edit' ng-click='deleteStore(store._id)' class="btn waves-effect waves-light wave">Delete Store</button>
                <div id="modal" class="modal" ng-class="edit">
                <form name="editStoreForm" ng-submit="editStoreForm.$valid && editStore(store, user.store) && edit='off'" >
                    <div class="modal-content">
                        <error ng-show="editStoreForm.editname.$touched && editStoreForm.editname.$error.required">Store name is required!</error>
                        <error ng-show="editStoreForm.editname.$error.maxlength">First name is required!</error>
                        <error ng-show="editStoreForm.editlogo.$touched && editStoreForm.editlogo.$error.required">Store logo is required!</error>
                        <h5>Store Name:</h5>
                        <input name="editname" placeholder="Store Name" ng-maxlength="20" ng-model="store.name" type="text" required>
                        <h5>Desired Address</h5>
                        <input name='urlSlug' type='text' ng-minlength ='5' ng-model='store.url' placeholder='urlSlug'>
                        <h5>Store Logo:</h5>
                        <input name="editlogo" placeholder="Store Logo" ng-model="store.logo" type="text" required>
                        <h5>Store Description:</h5>
                        <textarea placeholder="Drag Bottom Right Corner to Expand Text-box"></textarea>
                        <div class="main-container">
                            <button type="submit" class="btn waves-effect waves-light wave" ng-click="edit='off'">Save changes</button>
                            <button class="btn waves-effect waves-light wave" ng-click="edit='off'">Cancel</button>
                        </div class="main-container">
                    </div>    
                </form>
            </div>
        </div>

            <div ng-show="!user.store">
            <h3>Create Store</h3>
            <error ng-show="createStoreForm.newstorename.$touched && createStoreForm.newstorename.$error.required">Store name is required!</error>
            <error ng-show="createStoreForm.newstorename.$error.maxlength">First name is required!</error>
            <error ng-show="createStoreForm.newstorelogo.$touched && createStoreForm.newstorelogo.$error.required">Store logo is required!</error>
            <form  name="createStoreForm" ng-submit="createStoreForm.$valid && createStore(store)">
                <input name="newstorename" placeholder="Store Name" ng-maxlength="20" ng-model="store.name" type="text" required>
                <input name="newstorelogo" placeholder="Store Logo" ng-model="store.logo" type="text" required>
                <button class="btn waves-effect waves-light wave">Create</button>
            </form>
            </div>
        </div>
    </div>
</section>