<img src="{{store.logo}}" />

<h1>Store Name: {{store.name}}</h1>

<h1>User Name: {{store.userName}}</h1>

<h3>Add New Item</h3>
<error ng-show="productNew.productname.$error.maxlength">Name is too long!</error>
<error ng-show="productNew.productname.$touched && productNew.productname.$error.required">Name is required!</error>
<error ng-show="productNew.productdescription.$touched && productNew.productdescription.$error.required">Description is required!</error>
<error ng-show="productNew.productprice.$error.min">Price must be over 0</error>
<error ng-show="productNew.productprice.$touched && productNew.productprice.$error.required">Price is required!</error>
<error ng-show="productNew.productquantity.$error.min">Quantity must not be negative</error>
<error ng-show="productNew.productdescription.$error.maxlength">Description is too long!</error>
<form ng-submit="productNew.$valid && product.store && newProduct(product)" name="productNew">
    <input name="productname" placeholder="name" ng-maxlength="15" ng-model="product.name" required></input>
    <input name="productprice" type="number" placeholder="price" ng-model="product.price" required min="0"></input>
    <input name="productquantity" type="number" placeholder="quantity" ng-model="product.quantity" min="0"></input>
    <input name="productdescription" placeholder="description" ng-maxlength="150" ng-model="product.description" required></input>
    <button>Submit Product</button>
</form>
<br/>

<table class="table table-bordered table-striped">

	<thead>
	<tr>
		<td>
			<a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
				Name
				<span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
				<span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
			</a>
		</td>
		<td>
			<a href="#" ng-click="sortType = 'price'; sortReverse = !sortReverse">
				Price
				<span ng-show="sortType == 'price' && !sortReverse" class="fa fa-caret-down"></span>
				<span ng-show="sortType == 'price' && sortReverse" class="fa fa-caret-up"></span>
			</a>
		</td>
		<td>
			<a href="#" ng-click="sortType = 'quantity'; sortReverse = !sortReverse">
				Quantity
				<span ng-show="sortType == 'quantity' && !sortReverse" class="fa fa-caret-down"></span>
				<span ng-show="sortType == 'quantity' && sortReverse" class="fa fa-caret-up"></span>
			</a>
		</td>
		<td>
			<a href="#" ng-click="sortType = 'description'; sortReverse = !sortReverse">
				Desciption
				<span ng-show="sortType == 'description' && !sortReverse" class="fa fa-caret-down"></span>
				<span ng-show="sortType == 'description' && sortReverse" class="fa fa-caret-up"></span>
			</a>
		</td>
	</tr>
	</thead>

	<tbody>
	<tr ng-repeat="product in store.products | orderBy:sortType:sortReverse | filter:searchFish">
		<td>{{ product.name }}</td>
		<td>{{ product.price }}</td>
		<td>{{ product.quantity }}</td>
		<td>{{ product.description }}</td>
	</tr>
	</tbody>

</table>


</div>