<section id="stores">
    <div ng-repeat="store in stores" class="main-container" id="bar">
    	<div class="left-col">
    		<a ng-href='/stores/{{store.url}}' >
		    	<h4>Store: {{ store.name }}</h4>
		    	<h5>Owner: {{ store.user.firstName }} {{ store.user.lastName }}</h5>
	    	</a>
	    	<!-- <h6>Products:</h6> -->
	    	<div ng-repeat="product in store.products">
	    		<div ng-hide="hovered" class="hovering">
	    			<a href="products/{{product._id}}">
	    				<h7>{{product.name}}</h7>
	    			</a> 
	    			<div class="details main-container">
	    				<div >
		    				<a href="products/{{product._id}}">
		    					<img src="{{product.images[0]}}"></img>
		    				</a>	
		    			</div>
		    			<div>
		    				<h6 class="price">Price: ${{product.price}}</h6>
		    				<h6>Product Description: {{product.description}}</h6>
		    				<h6>Quanitity Available: {{product.quantity}}</h6>
		    				<h6>Reviews: </h6>
		    				<h6 ng-repeat="review in reviews">{{product.review}}</h6>
	    				</div>
	    			</div>	
	    		</div>
	    	</div>
	    </div>
	    <div id="content-col" ng-hide="{{store.logo}}==''"> 	
	        <a ng-href='/stores/{{store.url}}' ><img class="store-img" src="{{store.logo}}" /></a> 
	    </div>   
    </div>
</section>