<section id="productsList">
	 <div class="row">
	 	<span class="title">All Items:</span>
	 	<div class="col s12 m4 lg4 right">
	 		<h4>Filter by Category: </h4>

	 		<form ng-submit='getByCategories(selectedCategories)'>
	 			<select class="input field" 
	 			 ng-model='selectedCategories'
	 			 ng-options='category._id as category.name for category in categoryList'>
	 			</select>
	 			<button type='submit'>Filter</button>
	 		</form>
	 	</div>
	 </div>
	 <div class="row">
	 	<div class="col s12 m2 lg3" ng-repeat="product in productsList">
			<!-- <pre>{{product | json}}</pre> -->
			<h5 class="productPrice"> Item: {{product.name}}</h5>
				<div class="main-container">
					<div class="image-wrapper">
						<img class="store-img" src="{{product.images[0]}}"></img>
					</div>
				</div>
				<h5 class="productPrice"> Seller's Price: ${{product.price}}</h5>
				<h5 class="productDescription">{{product.description}}</h5>
				<a href="/stores/{{product.store._id}}">
					<h5>Visit this product's store.</h5>
				</a>
				<h5>Reviews:</h5>
				<div ng-repeat="review in product.reviews">
					{{review}}
				</div>
				<div class="main-container">
					<div class="cart">
						<button ng-click="addToCart(product, 1)">Add to Cart</button>
					</div>
				</div>
		</div>
	</div>


</section>
<script>
	$(document).ready(function() {
		setTimeout(function(){
	    	$('select').material_select();
		}, 100)
	});
</script>