<div class="progress">
    <div class="determinate" style="width: 60%"></div>
</div>

<div class="row">
    <div class="col s12 m6 l8">
        <h4>Shipping Information</h4>
        <form name="address" novalidate>
            <div class="row">
                <div class="input-field">
                    <input id="first_name" name="first" type="text" ng-maxlength="15" ng-model="cart.shippingAddress.firstName" required></input><br/>
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field">
                    <input id="last_name" name="last" type="text" ng-maxlength="15" ng-model="cart.shippingAddress.lastName" required></input><br/>
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input id="street" name="street" type="text" ng-maxlength="15" ng-model="cart.shippingAddress.street" required></input><br/>
                    <label for="street">Street</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input id="street_2" name="street2" type="text" ng-maxlength="15" ng-model="cart.shippingAddress.street2" required></input><br/>
                    <label for="street_2">Street 2</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input id="city" name="city" type="text" ng-model="cart.shippingAddress.city" required></input><br/>
                    <label for="city">City</label>
                </div>
                <div class="input-field">
                    <input id="state" name="state" type="text" ng-maxlength="2" ng-minlength="2" ng-model="cart.shippingAddress.state" required></input><br/>
                    <label for="state">State</label>
                </div>
                <div class="input-field">
                    <input id="zip" name="zip" ng-maxlength="5" ng-minlength="5" ng-model="cart.shippingAddress.zip" required></input><br/>
                    <label for="zip">Zip</label>
                </div>
            </div>

            <div class="col s12 m6 l8">
                <h4>Billing Information</h4>
                <input ng-click="sameBilling()" type="checkbox" id="same_billing" /><label for="same_billing">Check if the same as shipping</label>
                <div class="row">
                    <div class="input-field" ng-hide="billingIsSame">
                        <input id="billing_first_name" name="first" type="text" ng-maxlength="15" ng-model="cart.billingAddress.firstName" required></input><br/>
                        <label ng-class="{'active': setActive}" for="billing_first_name">First Name</label>
                    </div>
                    <div class="input-field" ng-hide="billingIsSame">
                        <input id="billing_last_name" name="last" type="text" ng-maxlength="15" ng-model="cart.billingAddress.lastName" required></input><br/>
                        <label ng-class="{'active': setActive}" for="billing_last_name">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field" ng-hide="billingIsSame">
                        <input id="billing_street" name="street" type="text" ng-maxlength="15" ng-model="cart.billingAddress.street" required></input><br/>
                        <label ng-class="{'active': setActive}" for="billing_street">Street</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field" ng-hide="billingIsSame">
                        <input id="billing_street_2" name="street2" type="text" ng-maxlength="15" ng-model="cart.billingAddress.street2" required></input><br/>
                        <label ng-class="{'active': setActive}" for="billing_street_2">Street 2</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field" ng-hide="billingIsSame">
                        <input id="billing_city" name="city" type="text" ng-model="cart.billingAddress.city" required></input><br/>
                        <label ng-class="{'active': setActive}" for="billing_city">City</label>
                    </div>
                    <div class="input-field" ng-hide="billingIsSame">
                        <input id="billing_state" name="billing_state" type="text" ng-maxlength="2" ng-minlength="2" ng-model="cart.billingAddress.state" required></input><br/>
                        <label ng-class="{'active': setActive}" for="billing_state">State</label>
                    </div>
                    <div class="input-field" ng-hide="billingIsSame">
                        <input id="billing_zip" name="zip" ng-maxlength="5" ng-minlength="5" ng-model="cart.billingAddress.zip" required></input><br/>
                        <label ng-class="{'active': setActive}" for="billing_zip">Zip</label>
                    </div><br/>
                </div>
            </div>
        </form>
    </div>
    <div class="col s12 m3 l2"></div>
</div>
<a class="waves-effect waves-light btn red" ui-sref="cart.finalizeOrder">Checkout</a>

