<div class="main-container">
    <h1>Shopping Cart</h1>
</div>
<div class="main-container">
    <div class="left-col">
        <table ng-show="cart.products.length > 0" class="table table-bordered">

            <thead>
                <tr>
                    <td>Name</td>
                    <td>Quantity</td>
                    <td>Price</td>
                    <td>Total Price</td>

                </tr>
            </thead>
            <tbody>
                <tr id="{{ product._id }}" ng-repeat="product in cart.products">
                    <td>{{ product.product.name }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.product.price | currency }}</td>
                    <td ng-init="itemTotal = product.product.price * product.quantity; cart.total = cart.total + itemTotal">{{itemTotal | currency}}</td>
                    <td>
                        <button ng-click="showModifyOptions()" ng-hide="showModify">Modify</button>
                        <button ng-click="showUpdateField()" ng-show="showModify">Update Quantity</button>
                        <form ng-show="showUpdate" ng-submit="updateQuantity(product._id, newQuantity)">
                            <input type="number" placeholder="{{product.quantity}}" ng-model="newQuantity">
                            <button>Go</button>
                        </form>
                        <button ng-click="removeLineItem(product._id)" ng-show="showModify">Remove</button>
                        <button ng-click="showModifyOptions()" ng-show="showModify">Done</button>
                    </td>
                </tr>
            </tbody>

        </table>
        <h4 ng-show="cart.products[0]==null">You cart is currently empty</h4>
    </div>

    <h4>Total: {{cart.total | currency}} </h4>

    <div class="content-col">
        <h2>Shipping Information</h2>

        <form ng-submit="submitOrder(cart)" name="address">
            <input name="first" type="text" placeholder="first name" ng-maxlength="15" ng-model="cart.shippingAddress.firstName" required></input><br/>
            <input name="last" type="text" placeholder="last name" ng-maxlength="15" ng-model="cart.shippingAddress.lastName" required></input><br/>
            <input name="street" type="text" placeholder="street" ng-maxlength="15" ng-model="cart.shippingAddress.street" required></input><br/>
            <input name="city" type="text" placeholder="city" ng-model="cart.shippingAddress.city" required></input><br/>
            <input name="state" type="text" placeholder="state" ng-maxlength="2" ng-minlength="2" ng-model="cart.shippingAddress.state"></input><br/>
            <input name="zip" placeholder="zip" ng-maxlength="5" ng-minlength="5" ng-model="cart.shippingAddress.zip" required></input><br/>
            <button>Submit Order</button><br/>
        </form>
    </div>    
</div>    


