<div class="progress">
    <div class="determinate" style="width: 20%"></div>
</div>
<section id="cart">
    <h1>Shopping Cart</h1>
    <div class="left-col">
        <table ng-show="cart.products.length > 0" class="table table-bordered">

            <thead>
            <tr>
                <td>Name</td>
                <td>Quantity</td>
                <td>Price</td>
                <td>Subtotal</td>

            </tr>
            </thead>
            <tbody>
            <tr id="{{ product._id }}" ng-repeat="product in cart.products">
                <td>{{ product.product.name }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.product.price | currency }}</td>
                <td ng-init="itemTotal = product.product.price * product.quantity; cart.total = cart.total + itemTotal">{{itemTotal | currency}}</td>
                <td>
                    <button class="btn waves-effect waves-light wave" ng-click="showModifyOptions()" ng-hide="showModify">Modify</button>
                    <button class="btn waves-effect waves-light wave" ng-click="showUpdateField()" ng-show="showModify">Update Quantity</button>
                    <form ng-show="showUpdate" ng-submit="updateQuantity(product._id, newQuantity)">
                        <input type="number" placeholder="{{product.quantity}}" ng-model="newQuantity">
                        <button class="btn waves-effect waves-light wave">Go</button>
                    </form>
                    <button class="btn waves-effect waves-light wave" ng-click="removeLineItem(product._id)" ng-show="showModify">Remove</button>
                    <button class="btn waves-effect waves-light wave" ng-click="showModifyOptions()" ng-show="showModify">Done</button>
                </td>
            </tr>
            <tr>
                <td class="total">Total:</td>
                <td class="total"></td>
                <td class="total"></td>
                <td class="total">{{cart.total | currency}}</td>
                <td class="total"></td>
            </tr>
            </tbody>

        </table>
        <h4 ng-show="cart.products[0]==null">You cart is currently empty</h4>
    </div>
    </div><br/>
    <br/>
</section>    
