#stores{
	.left-col{
		min-width: 438px;
		max-width: 438px;
		.hovering{
			
			.details{
				font-size: 10px;
				font-weight: bold;
				opacity: 0;
				transition: transform 1s, opacity 1s, margin-bottom 2s;
				img{
					width: 0px;
					height: auto;
					transition: width 1s;
				}
				p{
					margin-top: -25px;
					transition: margin 1s;
				}
				p.price{
					transition: margin-top 1s;
				}
			}
		}
		.hovering:hover{
			.details{
				opacity: 1;
				margin-bottom: 300px;
				img{
					width: 200px;
				}
				p{
					scale:(2, 2);
					margin: 0;
				}
				p.price{

					margin-top: 50px;
				}
			}
		}
	}	
}

#storepage{
	#store-editor{
		right: 40px;
		top:50%;
		position: fixed;
	}
	select{
		width: 152px;
		background: transparent;
		border-radius: 0;
		option{
		width: 148px;
			height: 22px;
			background: transparent;
		}
	}
	input{
		background: transparent;
		display: block;
	} 
}