* {
  box-sizing: border-box;
}
input{
  background: transparent;
  transition: box-shadow 0.3s, border 0.3s;
}
input.focus,
input:focus{
  border: solid 1px #707070;
  box-shadow: 0 0 11px 3px #fff;
}
button{
  background: transparent;
  height: 30px;
}
h1{
  color: black;
}
@font-face {
    font-family: impScrawl;
    src: url(fonts/BLKCHCRY.TTF);
}
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'productsList/main';
@import 'admin/admin';
@import 'stores/main';
