* {
  box-sizing: border-box;
}
input{
  background: transparent;
  transition: box-shadow 0.3s, border 0.3s;
}
button.btn {
  background: rgb(96, 9, 17);
  transition: All 1s;
}
button.btn:hover{
  background-color: #3D070C
}
/*button.btn:hover {
  background: linear-gradient(199deg, black, red, black, red, #c30b0b, #490606, #c30b0b, #340202);
  background-size: 116% 101%;
  animation: navbarGradient 20s ease infinite;
  -moz-animation: navbarGradient 20s ease infinite;
  -webkit-animation: navbarGradient 20s ease infinite;
  -o-animation: navbarGradient 20s ease infinite;
}*/


input.focus,
input:focus{
  border: solid 1px #707070;
  box-shadow: 0 0 11px 3px #fff;
}

h1{
  color: black;
}
@font-face {
    font-family: impScrawl;
    src: url(fonts/BLKCHCRY.TTF);
}

select[multiple], select[size] {
  height: 27px;
  margin: -6px 0;
  border: 2px inset;
  border-radius: 0;
}
select{
  width: 150px;
  height: 40px;
  -webkit-appearance: menulist;
  background: black;
}
body{
color: white;
  //text-shadow: 0 0 2px white,
  //           -1px -1px 14px white,
  //           -2px -2px 14px white,
  //           1px 1px 14px white,
  //           2px 2px 14px white;
  background-attachment:fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  background-position: center 1px;
  textarea{
   color: black;
  }
  tr{
  background: transparent;
    td{
      min-width: 100px;
      background: transparent;
    }

  }
  
  }

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'productsList/main';
@import 'admin/admin';
@import 'stores/main';
