* {
  box-sizing: border-box;
}
input{
  background: transparent;
  transition: box-shadow 0.3s, border 0.3s;
}
button.btn {
  background: rgb(96, 9, 17);
  transition: All 1s;
}
button.btn:hover{
  background-color: #3D070C
}
/*button.btn:hover {
  background: linear-gradient(199deg, black, red, black, red, #c30b0b, #490606, #c30b0b, #340202);
  background-size: 116% 101%;
  animation: navbarGradient 20s ease infinite;
  -moz-animation: navbarGradient 20s ease infinite;
  -webkit-animation: navbarGradient 20s ease infinite;
  -o-animation: navbarGradient 20s ease infinite;
}*/


input.focus,
input:focus{
  border: solid 1px #707070;
  box-shadow: 0 0 11px 3px #fff;
}

h1{
  color: black;
}
@font-face {
    font-family: impScrawl;
    src: url(fonts/BLKCHCRY.TTF);
}
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'productsList/main';
@import 'admin/admin';
@import 'stores/main';
